<%- include("header.ejs") -%>

    <div class="box" id="heading">
        <h3> Convert from a variety of currencies! </h3>
    </div>
  
    <div class="options">
    
    <div class="card me-4" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Indian Rupee Rate</h5>
          <p class="card-text">To know the current rate of Indian Rupee</p>
          <a href="/view" class="card-link">Click Here</a>
        </div>
    </div>

    <div class="card me-4" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Currency Converter</h5>
          <p class="card-text">To convert from one currency to another</p>
          <a href="/convert" class="card-link">Click Here</a>
        </div>
    </div>

    </div>